body {
    font-family: 'Arial', sans-serif;
  }
  
  .sidebar {
    height: 100vh;
    position: fixed;
    padding-top: 1rem;
  }
  
  main {
    margin-left: 16.6667%; /* Espaço do sidebar */
    padding-top: 1rem;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    main {
        margin-left: 0;
    }
}